<div class="estacionamiento-container">
    <h2>Calculadora de Tarifas de Estacionamiento</h2>
    <form (ngSubmit)="calcularTarifa()">
      <mat-form-field>
        <mat-label>Horas</mat-label>
        <input matInput type="number" [(ngModel)]="horas" name="horas" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Minutos</mat-label>
        <input matInput type="number" [(ngModel)]="minutos" name="minutos" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Calcular</button>
    </form>
    <div *ngIf="tarifa !== null">
      <p>El costo del estacionamiento es: S/. {{ tarifa | number:'1.2-2' }}</p>
    </div>
  </div>
  