<mat-toolbar color="primary">
    <span>Bienvenido</span>
  </mat-toolbar>
  <nav class="menu-container">
    <ul>
      <li><a routerLink="/llanteria" routerLinkActive="active-link">Llanteria</a></li>
      <li><a routerLink="/almacen" routerLinkActive="active-link">Almacén</a></li>
      <li><a routerLink="/almacen2" routerLinkActive="active-link">Almacén2</a></li>
      <li><a routerLink="/login" routerLinkActive="active-link">Cerrar Sesión</a></li>
    </ul>
  </nav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
  