<div class="alumno-container">
    <h2>Calculadora</h2>
    <form (ngSubmit)="calcularPromedio()">
      <mat-form-field>
        <mat-label>Nota 1</mat-label>
        <input matInput type="number" [(ngModel)]="nota1" name="nota1" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nota 2</mat-label>
        <input matInput type="number" [(ngModel)]="nota2" name="nota2" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nota 3</mat-label>
        <input matInput type="number" [(ngModel)]="nota3" name="nota3" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nota 4</mat-label>
        <input matInput type="number" [(ngModel)]="nota4" name="nota4" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Calcular</button>
    </form>
    <div *ngIf="promedio !== null">
      <p>El promedio calculado es: {{ promedio | number:'1.2-2' }}</p>
    </div>
  </div>
  