<div class="almacen-container">
  <h2>Almacén N°1</h2>
  <p>Se rebaja 10% del precio al cliente si compra mayor a 20 artículos y 5% si compra hasta 20 artículos</p>
  <form (ngSubmit)="calcularTotal()">
    <mat-form-field>
      <mat-label>Precio Unitario</mat-label>
      <input matInput type="number" [(ngModel)]="precioUnitario" name="precioUnitario" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" [(ngModel)]="cantidad" name="cantidad" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Calcular</button>
  </form>
  <div *ngIf="total !== null">
    <p>El total a pagar es: S/. {{ total | number:'1.2-2' }}</p>
  </div>
</div>
