.almacen-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .almacen-container h2 {
    text-align: center;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  